@import "fonts"
@import "libs"
@import "vars"
//@import "loader"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	margin: 0
	color: #303030

ul,li
	list-style-type: none
	margin: 0
	padding: 0

a
	color: #303030
	text-decoration: none
	&:active, &:focus
		text-decoration: none

.btn
	border: none
	text-transform: uppercase
	padding: 1.5em 3em
	margin-right: 20px
	margin-bottom: 20px
	border-radius: 5px
	cursor: pointer
	transition: all 0.3s
	&:hover
		box-shadow: 9px 9px 20px rgba(0,0,0,.15), 9px 0 15px rgba(0,0,0,.04), 0 0 1px rgba(0,0,0,.09)
	&.btn--accent
		background-color: $accent
		border: 1px solid #fff
		color: #fff
	&.btn--white
		background-color: #fff

.flex-center
	margin: auto

.header
	background-color: #fff
	min-height: 700px
	height: 100vh
	display: flex
	flex-direction: column
	
.navigation
	display: flex
	justify-content: space-between
	align-items: center
	padding: 30px 0
	
.logo
	max-width: 190px

.menu
	display: flex
	height: 100%
	.menu__item
		text-transform: uppercase
		padding-right: 28px
		font-weight: 600
		&:last-child 
			margin-right: 0
		&.active, &:hover
			>a
				color: $accent
		

.header-center
	position: relative
	background-color: $accent
	color: #fff
	display: flex
	flex: 1

.header-carousel__apps
	font-size: 40px
	font-weight: 500
.header-carousel__head
	font-size: 40px
	line-height: 1.4
	span
		font-weight: 400
.header-carousel__desc
	margin-bottom: 30px
.header-carousel__img
	max-width: 100%
	img
		width: 100%


.section
	position: relative
	padding: 50px 0 80px
	&.section-gray
		background-color: #f6f6f6
	&.section-accent
		background-color: $accent
		color: #fff
		.section__head, .section__desc, .section__line
			color: #fff
		.section__line, .section__line::before
			background-color: #fff
		.section__line
			box-shadow: 10px 0 #fff, -10px 0 #fff
		.section__line::before
			box-shadow: 85px 0 #fff
	.section-center
		text-align: center
	.section__head
		font-size: 30px
		text-transform: uppercase
		color: $accent
		margin-bottom: 10px
	.section__line
		display: inline-block
		width: 5px
		height: 5px
		border-radius: 50%
		background-color: $accent
		position: relative
		margin-bottom: 10px
		box-shadow: 10px 0 $accent, -10px 0 $accent
		&::before
			content: ""
			position: absolute
			left: -60px
			top: 2px
			width: 40px
			height: 1px
			background-color: $accent
			box-shadow: 85px 0 $accent
	.section__desc
		max-width: 700px
		color: #606060
		margin: 0 auto
		margin-bottom: 50px
		font-weight: 600

.overview
	.overview-item
		background-color: #fff
		padding: 60px 20px 20px
		text-align: center
		margin-bottom: 20px
		.overview-item__img
			margin-bottom: 20px
		.overview-item__head
			text-transform: uppercase


.work-questions
	.work-questions__head
		text-transform: uppercase
		font-weight: 700
		color: $accent
		font-size: 24px
		margin-bottom: 15px
.work-questions__img
	max-width: 100%
	>img
		&:first-child
			z-index: 1
		&:last-child
			position: absolute
			top: 60px
			right: 0
			z-index: -1


.features-items
	&.features-items--left
		.features__text
			text-align: left
		.features__item
			&::before, &::after
				left: -30px
.features__item
	display: flex
	margin-bottom: 30px
	position: relative
	.features__text
		text-align: right
	.features__head
		font-weight: 700
		font-size: 22px
		text-transform: uppercase
		margin-bottom: 5px
		margin-top: 0
	.features__img
		padding: 0 20px
		align-self: center
	&::before, &::after
		content: ""
		position: absolute
		background-color: #fff
		top: 50%
		right: -30px
	&::before
		width: 30px
		height: 1px
	&::after
		width: 1px
		height: calc(100% + 30px)
	&:last-child
		margin-bottom: 0
		&::after
			display: none
.features__imgage
	text-align: center
	>img
		display: inline-block
		msx-width: 250px


.screenshots-carousel
	display: flex
.screenshots__item
	max-width: 25%
	margin-right: 30px
	>img
		width: 100%


.people__item
	display: flex
	


@import "media" // Всегда в конце
